// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:


$font-color         :#333;
$font				:81.25%/1 Arial, sans-serif;
$label-color		:#4D6AC1;

$default-text-shadow-color: rgba(blue, 0.6);
$default-text-shadow-blur: 3px;
$default-text-shadow-v-offset: 1px;

$show-column-grid-backgrounds: true;
$show-baseline-grid-backgrounds: false;
$show-grid-backgrounds: true;



@import "compass/css3";

@import "compass/reset";
@import "blueprint";
@import "blueprint/grid";
@import "compass/css3/border-radius";
@import "compass/layout/grid-background";