/* line 17, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/application.scss */
html {
  font: 81.25%/1 Arial, sans-serif;
  background: url("../Images/BG.png") repeat-x;
}

/* line 17, ../sass/application.scss */
h1, h2, h3, h4, h5, h6 {
  letter-spacing: -1px;
}

/* line 20, ../sass/application.scss */
h1 {
  font-size: 2.5em;
}

/* line 23, ../sass/application.scss */
h2 {
  font-size: 2.3em;
}

/* line 26, ../sass/application.scss */
h3 {
  font-size: 2.1em;
}

/* line 29, ../sass/application.scss */
h4 {
  font-size: 1.9em;
}

/* line 32, ../sass/application.scss */
h5 {
  font-size: 1.7em;
}

/* line 34, ../sass/application.scss */
h6 {
  font-size: 1.5em;
}

/* Wrapper */
/* line 36, ../sass/application.scss */
div#pagewrapper {
  width: 950px;
  margin: 0px auto;
}

/* Header */
/* line 42, ../sass/application.scss */
div#header {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  margin: 20px auto 10px;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html div#header {
  overflow-x: hidden;
}
/* line 45, ../sass/application.scss */
div#header div#banner {
  width: 482px;
  margin: 0px auto;
}

/* Content */
/* line 53, ../sass/application.scss */
div#content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html div#content {
  overflow-x: hidden;
}

/* line 57, ../sass/application.scss */
div#result {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html div#result {
  overflow-x: hidden;
}

/* Form */
/* line 63, ../sass/application.scss */
fieldset {
  width: 524px;
  margin: 0px auto;
}
/* line 67, ../sass/application.scss */
fieldset div {
  line-height: 4;
}
/* line 69, ../sass/application.scss */
fieldset div label {
  width: 200px;
  float: left;
  font-weight: bold;
  color: #4d6ac1;
  font-size: 1.2em;
}
/* line 76, ../sass/application.scss */
fieldset div input[type="text"] {
  width: 300px;
  margin-top: 7px;
  height: 42px;
  font-size: 17px;
  margin-left: 20px;
  border: 1px solid #D5D2D2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 85, ../sass/application.scss */
fieldset div input[type="submit"], fieldset div input[type="button"] {
  width: 120px;
  margin-top: 7px;
  height: 42px;
  font-size: 17px;
  border: 1px solid #86b9e0;
  background-color: #3963cc;
  color: #fff;
  float: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* Utility Class */
/* line 100, ../sass/application.scss */
.pagetitle {
  line-height: 1.5;
  border-bottom: 2px solid #D3E6F4;
  margin-bottom: 20px;
  color: #3756C2;
  text-shadow: rgba(0, 0, 255, 0.6) 0px 1px 3px;
}

/* line 107, ../sass/application.scss */
.fieldsettitle {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 510px;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .fieldsettitle {
  overflow-x: hidden;
}

/* line 110, ../sass/application.scss */
.clear {
  clear: both;
}

/* line 113, ../sass/application.scss */
.right {
  float: right;
}

/* line 116, ../sass/application.scss */
div.error {
  background-color: #FB4747;
  border: 1px solid #C8BABA;
  color: #FFFFFF;
  font-size: 1.5em;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  width: 70%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 127, ../sass/application.scss */
div.success {
  background-color: #2D6B80;
  border: 1px solid #C8BABA;
  color: #FFFFFF;
  font-size: 1.5em;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  width: 70%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* iphone */
@media only screen
and (max-width: 480px) {
  /* Styles */
  /* line 152, ../sass/application.scss */
  h1 {
    font-size: 2em;
  }

  /* line 155, ../sass/application.scss */
  div#pagewrapper {
    width: 320px;
    padding: 0px;
    margin: 0 auto;
  }

  /* Header */
  /* line 161, ../sass/application.scss */
  div#header {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 320px;
    margin: 10px auto 0px;
  }
  /* line 147, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html div#header {
    overflow-x: hidden;
  }
  /* line 165, ../sass/application.scss */
  div#header div#banner {
    width: 300px;
    margin: 0px 0px 0px 5px;
  }
  /* line 169, ../sass/application.scss */
  div#header div#banner img {
    width: 300px;
  }

  /* Content */
  /* line 176, ../sass/application.scss */
  div#content {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 320px;
    margin-right: 0;
  }
  /* line 147, ../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
  * html div#content {
    overflow-x: hidden;
  }

  /* line 180, ../sass/application.scss */
  div#content h1 {
    margin: 0px 0px 0px 5px;
  }

  /* Form */
  /* line 186, ../sass/application.scss */
  form fieldset {
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
  }
  /* line 190, ../sass/application.scss */
  form fieldset div {
    line-height: 2;
  }
  /* line 195, ../sass/application.scss */
  form fieldset div input[type="text"] {
    width: 280px;
    font-size: 17px;
    margin-left: 0px;
  }
  /* line 201, ../sass/application.scss */
  form fieldset div input[type="submit"] {
    width: 120px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
  }
}
